.heroContainer {
    justify-content: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 80vh;
    margin: 0;
    flex-direction: column;
  }
  
  .heroName {
    font-size: 15vh;
  }
  
  .removeMargin {
    margin: 0;
  }