.contentWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 1px solid #f1f1f1;
  padding: 40px;
  margin: auto auto;
  min-width: 500px;
  max-width: 60vw;
  box-shadow: 0 0 5px #e9e9e9;
}

@keyframes scrollObserver {
  from {
    opacity: 20%;
  }
  to {
    opacity: 200%;
  }
}
.headerName {
  font-size: 10vh;
}
.removeMargin {
  margin: 0;
}

.contentWrapperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-timeline: view(block 80% 20%);
  animation-timing-function: linear;
  animation-name: scrollObserver;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-fill-mode: both;
}

.tint{
  width: 100px;
  height: 100px;
  background-color: #ff0606;
  position: absolute;
  border-radius: 900px;
  box-shadow: 0 0 100px red;
  filter: blur(65px);
}