.salutation {
  font-size: 10vw;
  display: flex;
  justify-content: flex-end;
  height: 60vh;
  align-items: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  font-weight: 700;
  width: auto;
  /* animation: fadeOut linear forwards;
  animation-timeline: view(10vh 50vh);
  animation-range: exit -10vh;
  position: fixed;
  width: 100%;
  z-index: -1; */
}

@keyframes fadeOut {
  from {
    filter:blur(0vw);
    opacity: 1;
  }
  to {
    filter: blur(2vw);
    opacity: 0;
  }
}

.italics {
  font-size: 5vw;
}

.wavingHand {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.hooksMain > div {
  will-change: transform;
  border-radius: 50%;
  background: rgb(255, 0, 0);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.6;
}

.hooksMain > div:nth-child(1) {
  width: 5vw;
  height: 5vw;
}

.hooksMain > div:nth-child(2) {
  width: 10vw;
  height: 10vw;
}

.hooksMain > div:nth-child(3) {
  width: 6vw;
  height: 6vw;
}

.hooksMain > div::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(25, 141, 131, 0.8);
}

.hooksMain > div:nth-child(2)::after {
  top: 35px;
  left: 35px;
  width: 35px;
  height: 35px;
}

.hooksMain > div:nth-child(3)::after {
  top: 25px;
  left: 25px;
  width: 25px;
  height: 25px;
}

.hooksMain {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url('#goo');
  overflow: hidden;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
