.experienceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30vh;
}
.experienceName {
  font-size: 10vh;
}

.removeMargin {
  margin: 0;
}
.expName {
  font-size: 2rem;
}
.expClient {
  font-size: 1.5rem;
}
.expDesignation {
  font-style: italic;
  color: gray;
}
.expDuration {
  font-size: 0.9rem;
  color: gray;
}
.expContainer {
  margin-top: 10px;
  background: var(--white100);
  display: flex;
  padding: 20px;
  border: 1px solid var(--white200);
  border-radius: 5px;
  box-shadow: 0 0 5pxvar(--white100);
  min-width: 500px;
  width: 60vw;
}

.expContainer:hover {
  background: #f1f1f1;
}

.leftExp {
  width: 20vw;
}

.righttExp {
  width: auto;
}

.expContainerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--white200);
  padding: 40px;
  margin: auto auto;
  width: 40vw;
  box-shadow: 0 0 5px var(--white100);
}
