.parallaxRemoveScrollbar {
  -webkit-scrollbar-display: none !important;
  scrollbar-width: 0 !important;
  overflow: hidden !important;
}

.parallaxRemoveScrollbar::-webkit-scrollbar {
  display: none;
}
