body{
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: -0.022em;
  line-height: 1.4705882353;
  font-size: 17px;
  font-style: normal;
}

::-moz-selection { /* Code for Firefox */
  background: rgb(201, 201, 201);
}

::selection {
  background: rgb(201, 201, 201);
}